/* docs/stylesheets/custom.css */

/* 右侧目录布局 */
@media screen and (min-width: 76.25em) {
    .md-main__inner {
        display: flex;
        flex-direction: row-reverse;
        /* 反向排列 */
    }

    .md-content {
        margin-left: 0;
        margin-right: 1.2rem;
    }

    .md-sidebar--secondary {
        left: auto;
        right: 0;
        border-left: 1px solid var(--md-default-fg-color--lightest);
        border-right: none;
    }
}

/* 调整目录宽度 */
.md-sidebar--secondary {
    width: 15rem;
}

/* 通用图片居中方案 */
.center,
.img-center {
    display: block;
    margin: 0 auto;
}

/* 针对 Material 主题的增强控制 */
.md-typeset .center img,
.md-typeset .img-center img {
    margin-left: auto;
    margin-right: auto;
}

/* 图片应式缩放 */
.md-typeset img {
    max-width: 100%;
    height: auto;
}
